In [1]:
import json
import pandas as pd

In [2]:
from financial_project.utils.constants import PROJECT_PATH, DATA_PATH

In [3]:
print(DATA_PATH)

/Users/davidzumaquero/GitHub/alpas-coding-challenge/financial_project/data

In [4]:

with open(f"{DATA_PATH}/financial_data.json") as f:
    data_json = json.load(f)

In [5]:
data_json

{'pnl': {'MXN': {'currency': 'MXN',
   'data': {'Assets': {'2011-12-31': 9611.92,
     '2012-12-31': 14215.32,
     '2013-12-31': 14392.43,
     '2014-12-31': 12649.41,
     '2015-12-31': 12759.69,
     '2016-12-31': 11994.0,
     '2017-12-31': 11455.62,
     '2018-12-31': 19827.88,
     '2019-12-31': 18267.42},
    'Cash and Cash Equiv.': {'2011-12-31': 3164.4,
     '2012-12-31': 8174.59,
     '2013-12-31': 8528.63,
     '2014-12-31': 468.4,
     '2015-12-31': 511.8,
     '2016-12-31': 275.1,
     '2017-12-31': 974.65,
     '2018-12-31': 4385.22,
     '2019-12-31': 462.78},
    'EBIT': {'2011-12-31': 425.04,
     '2012-12-31': 2078.02,
     '2013-12-31': 4513.86,
     '2014-12-31': 3660.82,
     '2015-12-31': 2371.96,
     '2016-12-31': 1062.58,
     '2017-12-31': 1339.25,
     '2018-12-31': 3787.84,
     '2019-12-31': 4223.21},
    'EBITDA': {'2011-12-31': 882.99,
     '2012-12-31': 2399.9,
     '2013-12-31': 4852.92,
     '2014-12-31': 4171.33,
     '2015-12-31': 2771.2,
     '2016-12-31': 1580.6,
     '2017-12-31': 1815.23,
     '2018-12-31': 4302.3,
     '2019-12-31': 4832.44},
    'Gross Profit': {'2011-12-31': 12777.17,
     '2012-12-31': 16696.61,
     '2013-12-31': 20064.63,
     '2014-12-31': 21261.8,
     '2015-12-31': 20069.26,
     '2016-12-31': 23283.58,
     '2017-12-31': 5413.45,
     '2018-12-31': 26874.73,
     '2019-12-31': 28892.87},
    'Liabilities': {'2011-12-31': 4715.53,
     '2012-12-31': 8718.47,
     '2013-12-31': 7678.76,
     '2014-12-31': 4991.5,
     '2015-12-31': 5999.62,
     '2016-12-31': 5109.8,
     '2017-12-31': 4303.45,
     '2018-12-31': 11560.84,
     '2019-12-31': 8872.21},
    'Net Income (after Tax)': {'2011-12-31': 180.27,
     '2012-12-31': 1321.97,
     '2013-12-31': 2816.62,
     '2014-12-31': 2274.01,
     '2015-12-31': 211.86,
     '2016-12-31': 148.87,
     '2017-12-31': 529.3,
     '2018-12-31': 2420.11,
     '2019-12-31': 2623.67},
    'Total Current Assets (Pvt)': {'2011-12-31': 7305.84,
     '2012-12-31': 11710.5,
     '2013-12-31': 11712.82,
     '2014-12-31': 9819.47,
     '2015-12-31': 10746.38,
     '2016-12-31': 9308.03,
     '2017-12-31': 8701.37,
     '2018-12-31': 17273.13,
     '2019-12-31': 15587.97},
    'Revenue': {'2011-12-31': 30520.04,
     '2012-12-31': 47468.32,
     '2013-12-31': 57888.2,
     '2014-12-31': 50415.58,
     '2015-12-31': 55230.9,
     '2016-12-31': 69160.86,
     '2017-12-31': 15701.32,
     '2018-12-31': 79005.99,
     '2019-12-31': 74318.8}},
   'unit': 'Thousands'}}}

In [6]:
data_df = pd.DataFrame(data_json["pnl"]["MXN"]["data"])
currency = data_json["pnl"]["MXN"]["currency"]
unit = data_json["pnl"]["MXN"]["unit"]

In [9]:
help(data_df.melt)

Help on method melt in module pandas.core.frame:

melt(id_vars=None, value_vars=None, var_name=None, value_name: 'Hashable' = 'value', col_level: 'Level' = None, ignore_index: 'bool' = True) -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.

    This function is useful to massage a DataFrame into a format where one
    or more columns are identifier variables (`id_vars`), while all other
    columns, considered measured variables (`value_vars`), are "unpivoted" to
    the row axis, leaving just two non-identifier columns, 'variable' and
    'value'.

    Parameters
    ----------
    id_vars : tuple, list, or ndarray, optional
        Column(s) to use as identifier variables.
    value_vars : tuple, list, or ndarray, optional
        Column(s) to unpivot. If not specified, uses all columns that
        are not set as `id_vars`.
    var_name : scalar
        Name to use for the 'variable' column. If None it uses
        ``frame.columns.name`` or 'variable'.
    value_name : scalar, default 'value'
        Name to use for the 'value' column.
    col_level : int or str, optional
        If columns are a MultiIndex then use this level to melt.
    ignore_index : bool, default True
        If True, original index is ignored. If False, the original index is retained.
        Index labels will be repeated as necessary.

        .. versionadded:: 1.1.0

    Returns
    -------
    DataFrame
        Unpivoted DataFrame.

    See Also
    --------
    melt : Identical method.
    pivot_table : Create a spreadsheet-style pivot table as a DataFrame.
    DataFrame.pivot : Return reshaped DataFrame organized
        by given index / column values.
    DataFrame.explode : Explode a DataFrame from list-like
            columns to long format.

    Notes
    -----
    Reference :ref:`the user guide <reshaping.melt>` for more examples.

    Examples
    --------
    >>> df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
    ...                    'B': {0: 1, 1: 3, 2: 5},
    ...                    'C': {0: 2, 1: 4, 2: 6}})
    >>> df
       A  B  C
    0  a  1  2
    1  b  3  4
    2  c  5  6

    >>> df.melt(id_vars=['A'], value_vars=['B'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5

    >>> df.melt(id_vars=['A'], value_vars=['B', 'C'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5
    3  a        C      2
    4  b        C      4
    5  c        C      6

    The names of 'variable' and 'value' columns can be customized:

    >>> df.melt(id_vars=['A'], value_vars=['B'],
    ...         var_name='myVarname', value_name='myValname')
       A myVarname  myValname
    0  a         B          1
    1  b         B          3
    2  c         B          5

    Original index values can be kept around:

    >>> df.melt(id_vars=['A'], value_vars=['B', 'C'], ignore_index=False)
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5
    0  a        C      2
    1  b        C      4
    2  c        C      6

    If you have multi-index columns:

    >>> df.columns = [list('ABC'), list('DEF')]
    >>> df
       A  B  C
       D  E  F
    0  a  1  2
    1  b  3  4
    2  c  5  6

    >>> df.melt(col_level=0, id_vars=['A'], value_vars=['B'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5

    >>> df.melt(id_vars=[('A', 'D')], value_vars=[('B', 'E')])
      (A, D) variable_0 variable_1  value
    0      a          B          E      1
    1      b          B          E      3
    2      c          B          E      5

In [16]:
financial_data =data_df.melt(value_vars = data_df.columns,ignore_index=False, var_name = "financial_measure", value_name = "amount").reset_index(names= "date")

          date financial_measure    amount
0   2011-12-31            Assets   9611.92
1   2012-12-31            Assets  14215.32
2   2013-12-31            Assets  14392.43
3   2014-12-31            Assets  12649.41
4   2015-12-31            Assets  12759.69
..         ...               ...       ...
76  2015-12-31           Revenue  55230.90
77  2016-12-31           Revenue  69160.86
78  2017-12-31           Revenue  15701.32
79  2018-12-31           Revenue  79005.99
80  2019-12-31           Revenue  74318.80

[81 rows x 3 columns]